{% extends "html.html.twig" %}
{% block content %}
    <header>
        <h1>{{ title }}</h1>
    </header>
    <main>
        <article>
            <p>
                Welcome on my awesome homepage (index).
            </p>
        </article>
    </main>
    <aside>
        <h2>{{ title }}</h2>
        <p>more</p>
    </aside>
{% endblock %}